.chat {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.chat__header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 88px;
	padding: var(--indent-12);
}

.chat__actions {
	display: flex;
	align-items: center;
	gap: var(--indent-4);
}

.chat__body {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100%;
	gap: var(--indent-8);
	scrollbar-width: none;
	overflow-y: scroll;
}

.chat__footer {
	display: flex;
	align-items: center;
	height: 76px;
	padding: var(--indent-16);
	gap: var(--indent-12);
}

