.user-card {
	/* Background */
	--bg-color--light: var(--bg-color--white);
	--bg-color--dark: var(--bg-color--black);

	/* Sizes */
	--width: 100%;
	--height: 100%;
	--max-width: 300px;
	--max-width--wide: 500px;
	--max-height: 56px;

	/* Indents */
	--padding--top: 8px;
	--padding--right: 8px;
	--padding--btm: 8px;
	--padding--left: 8px;
	--padding: var(--padding--top) var(--padding--right) var(--padding--btm) var(--padding--left);
	--gap: var(--indent-8);

	/* Text */
	--text: var(--text--main);
	--text-size: var(--text-size--M);
	--text-size--secondary: var(--text-size--S);
	--text-weight: var(--text-weight--M);
	--text-color: var(--text-color--main);
	--text-color--sec: var(--text-color--secondary);
	
	/* Border */
	--border: var(--border--main);
	--border-radius: var(--border-radius--main);

	/* Animation */
	--transition: all .1s linear;
	--transform: scale(1.03);
}

.user-card {
	display: flex;
	align-items: center;
	width: var(--width);
	max-width: var(--max-width);
	height: var(--height);
	max-height: var(--max-height);
	padding: var(--padding);
	gap: var(--gap);
	font-family: var(--text);
	font-weight: var(--text-weight);
	background-color: var(--bg-color--light);
	border: var(--border);
	border-radius: var(--border-radius);
	transition: var(--transition);
}

.user-card:not(.main-user):hover {
	transform: var(--transform);
}

.user-card__avatar {
	font-family: "icomoon";
	font-size: var(--icon-size--main);
	color: var(--icon-color--secondary);
}

.user-card__title {
	font-size: var(--text-size);
}

.user-card__subtitle {
	font-size: var(--text-size--secondary);
	color: var(--text-color--sec);
}

.user-card.main-user {
	height: 60px;
	border-left: 0;
	border-bottom: 0;
	border-radius: 0;
}

.user-card.user-card--wide {
	max-width: var(--max-width--wide);
}
