/**
Локальный месседжер
Студенты:
- Максим Покидько
18 марта 2024 г.
*/

/* БЛОКИ */

body, html {
  height: 100%;
  font-family: Arial;
  color: #333;
  background-color: #808080;
}

header {
  height: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/parallax.jpg");
  background-attachment: fixed;
  background-size: contain;
  overflow: hidden;
}

.header-content {
  position: relative;
  z-index: 1;
}

nav {
  background-color: #292929;
  padding: 10px 20px;
  text-align: center;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  background-color: #c5c5c5;
}

section {
  margin: 10px 50px 50px;
  padding: 20px;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  text-align: justify;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* ЭЛЕМЕНТЫ */
h1 {
  color: rgb(255, 236, 128);
    display: block;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-size: .7em;
    font-size: 12em;
    font-family: Alex Brush, cursive;
    animation: burning 1.5s ease-in-out infinite alternate;
}

h2 {
  font-size: 24px;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
}

img {
  display: block;
  margin: 0 auto;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #e2e2e2;
  color: #000000;
}

/* КЛАССЫ */

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.image {
  text-align: center;
  font-style: italic;
  max-width: 100%;
  height: auto;
}

/* ID ЭЛЕМЕНТЫ */

#download-button {
  display: block;
  margin: 50px auto 20px;
  background-color: #160a7e;
  color: #fff;
  border: none;
  border-radius: 100px;
  padding: 20px 40px;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#download-button:hover {
  background-color: #5d38e2;
}

#up{
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

#up:hover {
  background-color: #e2e2e2;
  color: #000000;
}